<nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark" (window:scroll)="windowScroll()"
     id="navbar">
    <div class="container">
        <a class="navbar-brand logo" href="javascript:void(0);">
            <img src="assets/images/logo-dark.png" alt="" class="" height="70">
        </a>
        <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
            <i class="mdi mdi-menu"></i>
        </button>
<!--        <div class="collapse navbar-collapse" id="navbarCollapse">-->
<!--            <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">-->
<!--                <li class="nav-item" [ngClass]="{'active':currentSection === 'home'}">-->
<!--                  <a href="javascript: void(0);" class="nav-link">Inicio</a>-->
<!--                </li>-->
<!--                <li class="nav-item" [ngClass]="{'active':currentSection === 'services'}">-->
<!--                  <a href="javascript: void(0)" class="nav-link">Servicios</a>-->
<!--                </li>-->
<!--                <li class="nav-item" [ngClass]="{'active':currentSection === 'about'}">-->
<!--                  <a href="javascript: void(0);" class="nav-link">Nosotros</a>-->
<!--                </li>-->
<!--                <li class="nav-item" [ngClass]="{'active':currentSection === 'features'}">-->
<!--                  <a href="javascript: void(0);" class="nav-link">Forma de trabajo</a>-->
<!--                </li>-->
<!--                <li class="nav-item" [ngClass]="{'active':currentSection === 'clients'}">-->
<!--                  <a href="javascript: void(0);" class="nav-link">Clientes</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
    </div>
</nav>
<div appScrollspy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)">
    <div class="row mb-5"></div>
    <section class="section" id="registro-proveedor">
        <div class="container">
            <div class="row justify-content-start">
                <div class="row">
                    <div [ngClass]="{'col-md-7': mostrarOcultar, 'col-md-12': !mostrarOcultar}">
                        <div *ngIf="loading" class="spinner-border text-warning m-1" role="status"></div>
                        <section class="section" id="opciones" *ngIf="!loading">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <button *ngIf="enableRegisterButton" class="btn btn-success btn-sm" (click)="enableRegister()">
                                            <i class="mdi mdi-plus"></i> Registrar empresa
                                        </button> &nbsp;
                                        <button class="btn btn-warning btn-sm" (click)="enableEdit()">
                                            <i class="mdi mdi-pencil"></i> Editar información
                                        </button> &nbsp;
                                        <button class="btn btn-success btn-sm" (click)="enableMaterial()">
                                            <i class="mdi mdi-eye"></i> Ver materiales
                                        </button> &nbsp;
                                        <button class="btn btn-primary btn-sm" (click)="switchView()">
                                            <span *ngIf="mostrarOcultar"><i class="mdi mdi-toggle-switch"></i> Ocultar información</span>
                                            <span *ngIf="!mostrarOcultar"><i class="mdi mdi-toggle-switch-off"></i> Mostrar información</span>
                                        </button> &nbsp;
                                        <button class="btn btn-danger btn-sm" (click)="clearAll()">
                                            <i class="mdi mdi-logout"></i> Salir
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <app-registro-de-proveedor
                            *ngIf="!loading && acciones.registro && !acciones.editar && !acciones.materiales"
                            (end)="checkAndCloseMaybe($event)"
                        ></app-registro-de-proveedor>
                        <app-edicion-de-proveedor
                            *ngIf="!loading && !acciones.registro && acciones.editar && !acciones.materiales"
                            (end)="checkAndCloseMaybe($event)"
                        ></app-edicion-de-proveedor>
                        <app-ver-materiales
                            *ngIf="!loading && !acciones.registro && !acciones.editar && acciones.materiales"
                        ></app-ver-materiales>
                    </div>
                    <div *ngIf="mostrarOcultar" [ngClass]="{'col-md-5': mostrarOcultar}">
                        <div *ngIf="loading" class="spinner-border text-warning m-1" role="status"></div>
                        <app-proveedor-registrado
                            *ngIf="!loading"
                        ></app-proveedor-registrado>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-about></app-about>
    <app-footer></app-footer>
</div>
