<!-- Features Start -->
<section class="section" id="features">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="title text-center mb-5">
          <h3 class="font-weight-normal text-dark">Nuetras <span class="text-warning">forma de trabajo</span></h3>
          <p class="text-muted">Resaltamos nuestra puntualidad, nuestra organización y la participación activa del cliente.</p>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-5">
        <div class="features-img">
          <img src="assets/images/features/undraw_scrum_board_re_wk7v.svg" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>
      <div class="col-md-6 offset-md-1">
        <div class="features-box mt-5 mt-sm-0 mb-4">
          <div class="features-icon my-4">
            <i class="mdi mdi-developer-board"></i>
          </div>
          <h5 class="text-dark font-weight-normal mb-3 pt-3">Metodología ágil</h5>
          <p class="text-muted mb-3 f-15">Trabajamos utilizando metodologías ágiles, reportando al cliente nuestros
            avances de manera periódica.</p>
          <p class="text-muted mb-3 f-15">
            Damos espacio al cliente de insertar modificaciones al proyecto, siendo flexibles con las nuevas ideas.
          </p>
<!--          <a href="#" class="f-16 text-warning">Read More <span class="right-icon ml-2">&#8594;</span></a>-->
        </div>
      </div>
    </div>

    <div class="row align-items-center mt-5">
      <div class="col-md-6">
        <div class="features-box mb-4">
          <div class="features-icon my-4">
            <i class="mdi mdi-account-group"></i>
          </div>
          <h5 class="text-dark font-weight-normal mb-3 pt-3">Balance del equipo</h5>
          <p class="text-muted mb-3 f-15">Tenemos excelentes profesionales, trabajando en su área de expertis, lo cual optimiza el tiempo y
            rendimiento del equipo en conjunto.</p>
          <p class="text-muted mb-3 f-15">
            Profesionales especialistas en cada área de desarrollo como ser Backend, Frontend, DBA, Movil.
          </p>
<!--          <a href="#" class="f-16 text-warning">Read More <span class="right-icon ml-2">&#8594;</span></a>-->
        </div>
      </div>
      <div class="col-md-5 offset-md-1 mt-5 mt-sm-0">
        <div class="features-img">
          <img src="assets/images/features/undraw_teamwork_hpdk.svg" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>
    </div>

    <div class="row align-items-center mt-5">
      <div class="col-md-5">
        <div class="features-img">
          <img src="assets/images/features/undraw_static_assets_rpm6.svg" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>
      <div class="col-md-6 offset-md-1">
        <div class="features-box mt-5 mt-sm-0 mb-4">
          <div class="features-icon my-4">
            <i class="mdi mdi-language-javascript"></i>
          </div>
          <h5 class="text-dark font-weight-normal mb-3 pt-3">Desarrollo web</h5>
          <p class="text-muted mb-3 f-15">Nos enfocamos mucho en el desarrollo web, buscamos que sea siempre nuestra bandera.</p>
          <p class="text-muted mb-3 f-15">Pero tambien apostamos por el desarrollo móvil, utilizando herramientas como Flutter.</p>
        </div>
      </div>
    </div>

    <div class="row align-items-center mt-5">
      <div class="col-md-6">
        <div class="features-box mb-4">
          <div class="features-icon my-4">
            <i class="mdi mdi-cellphone"></i>
          </div>
          <h5 class="text-dark font-weight-normal mb-3 pt-3">Desarrollo de aplicaciones móviles</h5>
          <p class="text-muted mb-3 f-15">Desarrollamos aplicaciones móviles, para diferentes plataformas, tanto
            para Android como para IOs.</p>
        </div>
      </div>
      <div class="col-md-5 offset-md-1 mt-5 mt-sm-0">
        <div class="features-img">
          <img src="assets/images/features/undraw_flutter_dev_wvqj.svg" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>
    </div>

    <div class="row align-items-center mt-5">
      <div class="col-md-5">
        <div class="features-img">
          <img src="assets/images/features/undraw_web_devices_re_m8sc.svg" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>
      <div class="col-md-6 offset-md-1">
        <div class="features-box mt-5 mt-sm-0 mb-4">
          <div class="features-icon my-4">
            <i class="mdi mdi-web"></i>
          </div>
          <h5 class="text-dark font-weight-normal mb-3 pt-3">Páginas web</h5>
          <p class="text-muted mb-3 f-15">Desarrollamos páginas web, landing pages, páginas con interacción del usuario.</p>
          <p class="text-muted mb-3 f-15">Tambien desarrollamos utilizando CMS en caso de que el cliente así lo desee.</p>
        </div>
      </div>
    </div>

    <div class="row align-items-center mt-5">
      <div class="col-md-6">
        <div class="features-box mb-4">
          <div class="features-icon my-4">
            <i class="mdi mdi-help"></i>
          </div>
          <h5 class="text-dark font-weight-normal mb-3 pt-3">El amigo responsable</h5>
          <p class="text-muted mb-3 f-15">Hemos desarrollado la iniciativa de apoyar a todas las personas, sean desarrolladores,
            diseñadores, o de cualquier profesión, buscamos apoyar a las personas a cumplir sus metas, evitando lo mas posible
            la procrastinación.</p>
        </div>
      </div>
      <div class="col-md-5 offset-md-1 mt-5 mt-sm-0">
        <div class="features-img">
          <img src="assets/images/features/undraw_target_re_fi8j.svg" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>
    </div>

    <div class="row align-items-center mt-5">
      <div class="col-md-5">
        <div class="features-img">
          <img src="assets/images/features/undraw_social_dashboard_re_ocbd.svg" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>
      <div class="col-md-6 offset-md-1">
        <div class="features-box mt-5 mt-sm-0 mb-4">
          <div class="features-icon my-4">
            <i class="mdi mdi-graph"></i>
          </div>
          <h5 class="text-dark font-weight-normal mb-3 pt-3">Marketing digital</h5>
          <p class="text-muted mb-3 f-15">Apoyamos al cliente con el marketing digital en redes sociales.</p>
          <p class="text-muted mb-3 f-15">Construimos el branding de tu empresa.</p>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- Features End -->
