<!-- footer Start -->
<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mb-4">
          <a href="layout-one"><img src="assets/images/logo-dark.png" width="150px;" height="100px;" alt="" class="logo-dark"/></a>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-md-6">
            <h6 class="footer-list-title text-dark mb-3">Tribunales electorales departamentales</h6>
            <ul class="list-unstyled company-sub-menu">
              <li><a href="https://chuquisaca.oep.org.bo/" target="_blank">■ CHUQUISACA</a></li>
              <li><a href="https://lapaz.oep.org.bo/" target="_blank">■ LA PAZ</a></li>
              <li><a href="https://oruro.oep.org.bo/" target="_blank">■ ORURO</a></li>
              <li><a href="https://potosi.oep.org.bo/" target="_blank">■ POTOSÍ</a></li>
              <li><a href="https://cochabamba.oep.org.bo/" target="_blank">■ COCHABAMBA</a></li>
              <li><a href="https://tarija.oep.org.bo/" target="_blank">■ TARIJA</a></li>
              <li><a href="https://santacruz.oep.org.bo/" target="_blank">■ SANTA CRUZ</a></li>
              <li><a href="https://beni.oep.org.bo/" target="_blank">■ BENI</a></li>
              <li><a href="https://pando.oep.org.bo/" target="_blank">■ PANDO</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <h6 class="footer-list-title text-dark mb-3">Como encontrarnos</h6>
            <p class="text-muted f-14"><i class="mdi mdi-map"></i> Dirección: Av. Sánchez Lima esq. Pedro Salazar (Sopocachi) # 2482</p>
            <h6 class="text-muted pb-2"><i class="mdi mdi-email"></i> Correo institucional: info@oep.org.bo</h6>
            <h6 class="text-muted pb-2"><i class="mdi mdi-phone"></i> Teléfonos: 2 2424221 / 2 2422338</h6>
            <h6 class="text-muted pb-2"><i class="mdi mdi-web"></i> Página web: <a href="https://www.oep.org.bo" target="_blank">https://www.oep.org.bo</a></h6>
            <h6 class="text-muted pb-2"><i class="mdi mdi-globe-model"></i> La Paz - Bolivia</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="text-center text-muted">
          <p class="mb-0 f-15"> {{currentYear}} © Organo electoral plurinacional</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- footer End -->
